<launch>

    <param name="/use_sim_time" value="true"/>

    <node pkg="project2" type="odom_tf" respawn="false" name="odom_tf" output="screen"/>

    <include file="$(find project2)/launch/scan_merger.launch"/>

    <arg name="map_file" default="$(find project2)/maps/map.yaml"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>

    <arg name="odom_frame_id" default="odom"/>
    <arg name="global_frame_id" default="map"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="map"/>
    </node>

    <include file="$(find project2)/launch/amcl.launch.xml">
        <arg name="scan_topic" value="scan_multi"/>
        <arg name="use_map_topic" value="true"/>
        <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2)/rviz/amcl_config.rviz"/>

</launch>